include ./templates/mixins
doctype html
html( lang="en", ng-app='ide')
  head
    title= title
    meta( charset='utf-8' )
    meta( http-equiv='X-UA-Compatible', content='IE=edge' )
    meta( name='viewport', content='width=device-width, initial-scale=1.0' )
    meta( name='description', content='Synnefo' )
    //- Bootswatch Theme.
    +bootswatch ("cosmo")
    //- Our css stylesheet.
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/codemirror.css')
    link(rel='stylesheet', href='/stylesheets/monokai.css')
    link(rel='stylesheet', href='/stylesheets/3024-day.css')
    link(rel='stylesheet', href='/stylesheets/abcdef.css')
    link(rel='stylesheet', href='/stylesheets/the-matrix.css')
    link(rel='stylesheet', href='/stylesheets/ide.css')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Ek+Mukta')

    script(src='/javascripts/codemirror.js')
    script(src='/javascripts/javascript.js')
    script(src='/javascripts/python.js')
    script(src='/javascripts/clike.js')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/umd/tab.js')
  body

    include ./templates/navigation
    .container

      block content